body {
 font-family: Arial, sans-serif;
 background:#f5f7fb;
 padding:40px;
 text-align:center;
}

h1 { color:#003366; }

form {
 background:white;
 padding:20px;
 display:inline-block;
 border-radius:8px;
 box-shadow:0 0 10px #ccc;
 text-align:left;
 width:300px;
}

label { display:block; margin-top:10px; }

input, select {
 width:100%;
 padding:8px;
 margin-top:5px;
}

button {
 margin-top:15px;
 padding:10px;
 width:100%;
 background:#ff7a00;
 color:white;
 border:none;
 font-size:16px;
 cursor:pointer;
}

button:hover { background:#e56b00; }
